%app-content {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

%app-control {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;

  font-family: inherit;

  background-color: transparent;

  border-width: 0;
  border-style: none;
  border-color: transparent;

  outline-width: 0;
  outline-style: none;
  outline-color: transparent;

  box-shadow: none;

  appearance: none;
}
