@use 'shared';

* {
  box-sizing: inherit;
}

html,
body,
body > div:first-child {
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Raleway', 'Segoe UI', sans-serif;

  overflow-x: hidden;
  overflow-y: scroll;

  > div:first-child {
    display: flex;

    flex-direction: column;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: inherit;
}

img {
  display: block;

  object-fit: scale-down;
}

svg {
  display: block;
}

input,
textarea {
  display: block;

  @extend %app-control;

  &::placeholder {
    font-family: inherit;

    opacity: 1;
  }
}

input::file-selector-button {
  @extend %app-control;
}

textarea {
  overflow-x: hidden;
  overflow-y: hidden;

  resize: none;
}

button,
button[type="submit"],
button[type="reset"] {
  display: block;

  @extend %app-control;

  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  width: 100%;

  min-width: auto;
  max-width: 1072px;

  height: 100%;

  padding-top: 0;
  padding-right: 16px;
  padding-bottom: 0;
  padding-left: 16px;

  @extend %app-content;
}
