.chunk-card:global {
  padding-top: 16px;
  padding-right: 14px;
  padding-bottom: 16px;
  padding-left: 14px;

  background-color: #FFFFFF;

  border-radius: 6px;

  cursor: pointer;

  > .card-info {
    > .info-title {
      display: block;

      line-height: 22px;
      font-weight: 500;
      font-size: 16px;
    }
  }
}
