.block {
  display: block;
}

.item {
  display: flex;

  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;

  text-decoration-line: none;

  border-radius: 6px;

  cursor: pointer;

  &:hover {
    .itemIcon {
      visibility: visible;
    }
  }

  &:global(._on) {
    background-color: #828BF8;

    .itemIcon,
    .itemText {
      color: #FFFFFF;

      visibility: visible;
    }
  }

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.itemIcon,
.itemText {
  display: block;

  line-height: 22px;
  font-weight: 400;
  font-size: 18px;

  color: #000000;

  &:not(:last-child) {
    margin-right: 16px;
  }
}

.itemIcon {
  font-family: 'JetBrains Mono';
  font-weight: 300;

  visibility: hidden;
}

.itemText {
  font-family: inherit;
  font-weight: 500;
}
