.header {
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: #FFFFFF;

  > .header-layer {
    display: flex;

    > .layer-item[data-item="brand"] {
      flex-shrink: 0;
      flex-basis: auto;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    > .layer-item[data-item="search"] {
      flex-shrink: 1;
      flex-basis: 100%;
    }
  }
}
