.layout {
  margin-top: 40px;
  margin-bottom: 40px;

  .layout-layer {
    display: flex;

    > .layer-item {
      flex-shrink: 1;
      flex-basis: auto;

      width: 100%;
    }

    > .layer-item[data-item="page"] {
      min-width: auto;
      max-width: 680px;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    > .layer-item[data-item="side"] {
      min-width: auto;
      max-width: 320px;
    }
  }
}
