.search {
  position: relative;

  > .search-control {
    position: relative;

    display: flex;

    > .control-input,
    > .control-icon {
      flex-shrink: 0;
      flex-basis: auto;
    }

    > .control-input {
      width: 100%;

      padding-top: 12px;
      padding-right: 18px;
      padding-bottom: 12px;
      padding-left: 18px;

      line-height: 24px;
      font-weight: 400;
      font-size: 18px;

      background-color: #F2F4F6;

      border-radius: 6px;
    }
  }
}
