.sidebar {
  > .sidebar-list {
    > .list-item {
      display: flex;

      padding-top: 12px;
      padding-right: 18px;
      padding-bottom: 12px;
      padding-left: 18px;

      text-decoration-line: none;

      background-color: #FFFFFF;

      border-radius: 6px;

      cursor: pointer;

      &:hover {
        > .item-icon {
          visibility: visible;
        }
      }

      &._on {
        background-color: #828BF8;

        > .item-icon,
        > .item-text {
          color: #FFFFFF;

          visibility: visible;
        }
      }

      &:not(:last-child) {
        margin-bottom: 12px;
      }

      > .item-icon,
      > .item-text {
        display: block;

        line-height: 22px;
        font-weight: 400;
        font-size: 18px;

        color: #000000;

        &:not(:last-child) {
          margin-right: 12px;
        }
      }

      > .item-icon {
        font-family: 'JetBrains Mono';
        font-weight: 300;

        visibility: hidden;
      }

      > .item-text {
        font-family: inherit;
        font-weight: 500;
      }
    }
  }
}
