.page[data-page="signin"] {
  display: flex;

  justify-content: center;

  height: 100%;

  > .page-layer {
    width: 100%;

    min-width: auto;
    max-width: 368px;

    padding-top: 16px;
    padding-bottom: 16px;

    margin-top: auto;
    margin-bottom: auto;

    > .layer-item,
    > .layer-form {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    > .layer-item {
      display: flex;

      justify-content: center;
    }

    > .layer-form {
      > .form-field {
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }
  }
}
